
<div class="table-group-divider">
        
    <h1 class="text-center font-weight-bold"> Task List</h1>
    <table class="table table-active">
      <thead>
        <tr>
          <th>ID</th>
          <th>Task Name</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Is Completed</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.Id }}</td>
          <td>{{ task.TaskName }}</td>
          <td>{{ task.Description }}</td>
          <td>{{ task.DueDate | date: 'short' }}</td>
          <td>{{ task.IsCompleted ? 'Yes' : 'No' }}</td>
          <td>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-sm" (click)="navigateToUpdateTask(task.Id)">Update</button>
               </div>
            <div class="col">
            <button class="btn btn-danger btn-sm" (click)="deleteTask(task.Id)">Delete</button>
            </div>
            </div>

            <!-- Update the (click) event to navigate to the update task component -->
          
          </td>
        </tr>
      </tbody>
    </table>

  